asgiref==3.8.1
attrs==24.2.0
autobahn==24.4.2
Automat==24.8.1
beautifulsoup4==4.12.3
blinker==1.8.2
cffi==1.17.1
channels==4.1.0
click==8.1.7
colorama==0.4.6
constantly==23.10.4
cryptography==43.0.1
daphne==4.1.2
dash==2.9.3
dash-bootstrap-components==1.6.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
Django==5.1.1
django-bootstrap4==24.3
django-filter==24.3
django-plotly-dash==2.3.1
djangorestframework==3.15.2
dpd-static-support==0.0.5
dpd_components==0.1.0
environs==11.0.0
et-xmlfile==1.1.0
Flask==3.0.3
hyperlink==21.0.0
idna==3.10
incremental==24.7.2
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
Markdown==3.7
MarkupSafe==2.1.5
marshmallow==3.22.0
numpy==2.1.1
openpyxl==3.1.5
packaging==24.1
pandas==2.2.2
plotly==5.24.1
psycopg==3.2.2
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pyOpenSSL==24.2.1
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.0.1
pytz==2024.2
scikit-learn==1.5.2
scipy==1.14.1
service-identity==24.1.0
setuptools==75.1.0
six==1.16.0
soupsieve==2.6
sqlparse==0.5.1
tenacity==9.0.0
threadpoolctl==3.5.0
Twisted==24.7.0
txaio==23.1.1
typing_extensions==4.12.2
tzdata==2024.1
Werkzeug==3.0.4
whitenoise==6.7.0
zope.interface==7.0.3
