{% load static %}  <!-- Load the static files tag -->
{% load plotly_dash %}  <!-- Load the Plotly Dash tag -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>GPR</title>
    <!-- Link to CSS static files if any -->
    <link rel="stylesheet" href="{% static 'css/outer.css' %}">
    <!-- You can add additional CSS links here -->
</head>
<body>
<div id="dashboard-container">
    <h1>Resultados GPR</h1>
    <!-- Embed your DjangoDash app -->
    {% plotly_app_bootstrap name="GprApp" %}
</div>
<script>
    function checkSession() {
        fetch('/check_session/', {
            method: 'GET',
            credentials: 'same-origin'
        })
        .then(response => response.json())
        .then(data => {
            if (!data.is_authenticated) {
                window.location.href = '{% url "login" %}';
            }
        });
    }

    setInterval(checkSession, 300000);

    document.addEventListener("visibilitychange", function() {
        if (!document.hidden) {
            checkSession();
        }
    });
</script>
</body>
</html>